*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Silkscreen';
}
html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    width: 20px;
    background-color: black;
}
body::-webkit-scrollbar-thumb{
    background-color: gold;
    border-radius: 50px;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: rgb(112, 95, 0)
}

body{
    background-image: url(img/thumb-1920-475456.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.containerheader{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.753);
}
.headerimage{
    width: 700px;

}
nav{
    position: sticky;
    z-index: 1;
    top:0;
    margin:auto;
    font-family: 'Silkscreen', cursive;
    background-color: black;
    font-size: 20px;
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal > li > a{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}
.menu-horizontal >li > a:hover{
    transition: color 0.5s ease;
    color:rgb(226, 215, 64);
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgb(255, 225, 53);
}
.menu-horizontal >li:hover .menu-vertical{
    display: block;
}
.menu-vertical >li:hover{
    background-color:rgb(129, 113, 30) ;
}
.menu-vertical > li >a{
    display: block;
    font-weight: bold;
    color: black;
    padding: 15px;
    text-decoration: none;
}

.space picture{
    display: flex;
    justify-content:center;
}
.gifmother{
    margin-top: 80px;
    width: 800px;
}
h2{
    margin-bottom: 80px;
    margin-top: 20px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 14pt;
    padding: 150px;
    background-color:rgba(0, 0, 0, .8);
    margin: 100px;
    border-radius: 40px;
}

.section-mother{
    padding-top: 200px;
}
.logo{
    width: 500px;
    padding:50px 0 50px 0;
}

.btn{
    font-size: 16px;
    font-weight: bold;
    border: 0;
    color: #000000;
    border-radius: 25px;
    background-color: rgb(219, 187, 4);
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(247, 213, 24);
}
.saludo{
    position: relative;
    left: 350px;
    top: 100px;
    width: 500px;
}
.nesspaz{
    position: relative;
    top: 100px;
    left: 350px;
    width: 150px;
}
footer, p{
    font-family: 'Silkscreen', cursive;
}
footer{
    display: flex;
    font-weight: bold;
    width: 100%;
    color: white;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 200px;
    background-color: black;
}
footer img{
    width: 50px;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    width: 60%; 
    max-width: 600px; 
    height: 300px; 
    max-height: 80%; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #000000;
    color: white;
    border-radius: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #000;
    font-size: 20px;
}

.popup-content p {
    font-size: 24px; 
    text-align: center;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #000;
    font-size: 20px;
}

.close:hover { 
    color: #f00;
}

.close-btn {
    position: relative;
    top: 80px;
    background-color: #f00;
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer;
}

.close-btn:hover {
    background-color: #d00; 
}
