*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Silkscreen', cursive;
}
html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    width: 20px;
    background-color: black;
}
body::-webkit-scrollbar-thumb{
    background-color: gold;
    scroll-behavior: smooth;
    border-radius: 50px;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: rgb(112, 95, 0)
}
body{
    background-image: url(img/thumb-1920-475456.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.containerheader{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.753);
}
.headerimage{
    width: 700px;

}
nav{
    position: sticky;
    z-index: 1;
    top:0;
    margin:auto;
    font-family: 'Silkscreen', cursive;
    background-color: black;
    font-size: 20px;
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal > li > a{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}
.menu-horizontal >li > a:hover{
    transition: color 0.5s ease;
    color:rgb(226, 215, 64);
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgb(255, 225, 53);
}
.menu-horizontal >li:hover .menu-vertical{
    display: block;
}
.menu-vertical >li:hover{
    background-color:rgb(129, 113, 30) ;
}
.menu-vertical > li >a{
    display: block;
    font-weight: bold;
    color: black;
    padding: 15px;
    text-decoration: none;
}

.wsp{
    tex-decoration:none;
    color:green;

}
.starman{
    position: relative;
    top: 550px;
    left: 100px;
    width: 200px;
}
form{
    position: relative;
    left: 400px;
    bottom: 200px;
    font-family: 'Silkscreen', cursive;
    width: 600px;
    background-color: black;
    margin: 0;
    padding: 50px 55px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.623);
    border-radius: 20px;
    text-align: center;
}
.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}
form h2{
    font-size: 20pt;
    color: rgb(255, 255, 255);
    padding-bottom: 30px;
}
form label{
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
}
input, textarea{
    resize: none;
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    border: 2px solid #f0faf1;
    outline: none;
}
.monito{
    position: relative;
    left:400px ;
}
.btn{
    font-size: 16px;
    font-weight: bold;
    border: 0;
    color: #000000;
    border-radius: 25px;
    background-color: rgb(219, 187, 4);
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(247, 213, 24);
}

.map {
    flex: 1;
    position: relative;
    bottom: 20px;
    padding: 50px;
    box-sizing: border-box;
    max-width: 100%; 
    overflow: hidden; 
}

.map iframe {
    width: 100%; 
    height: 100%; 
}
footer, p{
    font-family: 'Silkscreen', cursive;
}
footer{
    display: flex;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    color: white;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
 
    background-color: black;
}
footer img{
    width: 50px;
}
